# you can use this control file to create a dummy .deb package
# which you can then install to keep all the dependencies needed
# to build 3dtk together. You can run the following commands:
#  $ equivs-build doc/equivs/control
#  $ sudo apt install ./3dtk-build-deps_1.0_all.deb
Section: misc
Priority: optional
Standards-Version: 3.9.2

Package: 3dtk-build-deps
Depends:
 build-essential,
 catkin,
 cmake,
 cmake-curses-gui,
 freeglut3-dev,
 imagemagick,
 libann-dev,
 libboost-date-time-dev,
 libboost-filesystem-dev,
 libboost-graph-dev,
 libboost-program-options-dev,
 libboost-python-dev,
 libboost-regex-dev,
 libboost-system-dev,
 libboost-thread-dev,
 libcgal-dev,
 libcgal-qt5-dev,
 libconfig-dev,
 libeigen3-dev,
 libftgl-dev,
 libgl1-mesa-dev,
 libglfw3-dev,
 liblaser-geometry-dev,
 libnav-msgs-dev,
 libnewmat10-dev,
 libopencv-calib3d-dev,
 libopencv-dev,
 liborocos-bfl-dev,
 libpcl-conversions-dev,
 libpng-dev,
 libqt5opengl5-dev,
 librosbag-dev,
 libroscpp-dev,
 libsuitesparse-dev,
 libtf-conversions-dev,
 libtf-dev,
 libtf2-sensor-msgs-dev,
 libwxgtk3.0-dev,
 libxi-dev,
 libxml2-dev,
 libxmlrpc-c++8-dev,
 libxmu-dev,
 libzip-dev,
 python3-dev,
 qtbase5-dev,
 wx3.0-headers,
 zlib1g-dev,
