/addons/
/.build/
/builddir/
/build/
/.configured
/bin/*
/lib/
/obj/
/.cache/
/CMakeLists.txt.user
/3rdparty/riegl
/.idea/
/cmake-build-debug/
/.DS_Store
.DS_Store
*.cflags
*.config
*.creator*
*.cxxflags
*.files
*.includes